<div class="line"></div>
<div class="container">
    <div class="partners-nav">
        <form class="partners-nav__search">
            <input type="text" class="" placeholder="Поиск:">
        </form>
        <div class="partners-nav__view">
            <div class="view__col">

            </div>
            <div class="view__line">

            </div>
        </div>
    </div>
    <div class="row-flex">
        <div class="col-f-xs-6 col-f-sm-3">
            <div class="partner">
                <div class="partner__logo" [ngStyle]="{'background-color':'#8dc73f'}">
                    <img src="../assets/img/partner-logo.png" alt="partner-logo">
                </div>
                <div class="partner__balls">
                    <div class="partner__balls__inner">
                        400
                        <div class="partner__balls__small-logo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-f-xs-6 col-f-sm-3">
            <div class="partner">
                <div class="partner__logo" [ngStyle]="{'background-color':'#8dc73f'}">
                    <img src="../assets/img/partner-logo.png" alt="partner-logo">
                </div>
                <div class="partner__balls">
                    <div class="partner__balls__inner">
                        400
                        <div class="partner__balls__small-logo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-f-xs-6 col-f-sm-3">
            <div class="partner">
                <div class="partner__logo" [ngStyle]="{'background-color':'#8dc73f'}">
                    <img src="../assets/img/partner-logo.png" alt="partner-logo">
                </div>
                <div class="partner__balls">
                    <div class="partner__balls__inner">
                        400
                        <div class="partner__balls__small-logo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-f-xs-6 col-f-sm-3">
            <div class="partner">
                <div class="partner__logo" [ngStyle]="{'background-color':'#8dc73f'}">
                    <img src="../assets/img/partner-logo.png" alt="partner-logo">
                </div>
                <div class="partner__balls">
                    <div class="partner__balls__inner">
                        400
                        <div class="partner__balls__small-logo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-f-xs-6 col-f-sm-3">
            <div class="partner">
                <div class="partner__logo" [ngStyle]="{'background-color':'#8dc73f'}">
                    <img src="../assets/img/partner-logo.png" alt="partner-logo">
                </div>
                <div class="partner__balls">
                    <div class="partner__balls__inner">
                        400
                        <div class="partner__balls__small-logo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>