.line {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.1);
}
.partners-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.partners-nav__view {
    font-size: 14px;
    color: rgba(0,0,0,.3);
}
.view__col,
.view__line {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
}
[class^="col-f-"].__line {
    width: 100%;
}
.partner {
    box-shadow: 0px 0px 3px rgba(0,0,0,.1);
    border-radius: 5px;
    margin-bottom: 30px;
}
.partner__logo {
    height: 250px;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.partner__logo img {
    margin: auto;
}
.partner__bonus {
    padding: 20px 15px;
    font-size: 14px;
    color: #a5a5a5;
}
.partner__balls__inner {
    position: relative;
    padding-right: 70px;
}
.partner__balls__small-logo {
    position: absolute;
    width: 76px;
    height: 76px;
    background-color: red;
    right: 0px;
    top: -30px;
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}

@media screen and (max-width: 768px) {
    .partner__logo {
        height: 150px;
    }
    .partner__bonus {
        font-size: 12px;
        padding: 15px 10px;
    }
    .partner__balls__small-logo {
        width: 65px;
        height: 65px;
        top: -25px;
    }
}