<div class="line"></div>
<div class="container">
    <div class="partners-nav">
        <form class="partners-nav__search">
            <input type="text" class="" placeholder="Поиск:">
        </form>
        <div class="partners-nav__view">
            Вид:
            <div class="view__col" (click)="viewCol()">
                <i class="icn icn__view icn__view__line" [ngClass]="{'active': viewProductLine}"></i>
            </div>
            <div class="view__line" (click)="viewLine()">
                <i class="icn icn__view icn__view__col" [ngClass]="{'active': !viewProductLine}"></i>
            </div>
        </div>
    </div>
    <div class="row-flex">
        <div class="col-f-xs-6 col-f-sm-3" [ngClass]="{'__line': viewProductLine}">
            <div class="partner">
                <div class="partner__logo" [ngStyle]="{'background-color':'#8dc73f'}">
                    <img src="../assets/img/partner-logo.png" alt="partner-logo">
                </div>
                <div class="partner__bonus">
                    <div class="partner__balls__inner">
                        400
                        <div class="partner__balls__small-logo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-f-xs-6 col-f-sm-3" [ngClass]="{'__line': viewProductLine}">
            <div class="partner">
                <div class="partner__logo" [ngStyle]="{'background-color':'#8dc73f'}">
                    <img src="../assets/img/partner-logo.png" alt="partner-logo">
                </div>
                <div class="partner__bonus">
                    <div class="partner__balls__inner">
                        400
                        <div class="partner__balls__small-logo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-f-xs-6 col-f-sm-3" [ngClass]="{'__line': viewProductLine}">
            <div class="partner">
                <div class="partner__logo" [ngStyle]="{'background-color':'#8dc73f'}">
                    <img src="../assets/img/partner-logo.png" alt="partner-logo">
                </div>
                <div class="partner__bonus">
                    <div class="partner__balls__inner">
                        400
                        <div class="partner__balls__small-logo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-f-xs-6 col-f-sm-3" [ngClass]="{'__line': viewProductLine}">
            <div class="partner">
                <div class="partner__logo" [ngStyle]="{'background-color':'#8dc73f'}">
                    <img src="../assets/img/partner-logo.png" alt="partner-logo">
                </div>
                <div class="partner__bonus">
                    <div class="partner__balls__inner">
                        400
                        <div class="partner__balls__small-logo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-f-xs-6 col-f-sm-3" [ngClass]="{'__line': viewProductLine}">
            <div class="partner">
                <div class="partner__logo" [ngStyle]="{'background-color':'#8dc73f'}">
                    <img src="../assets/img/partner-logo.png" alt="partner-logo">
                </div>
                <div class="partner__bonus">
                    <div class="partner__balls__inner">
                        400
                        <div class="partner__balls__small-logo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>